@import '../../scss/vars';
@import '../../scss/mixins';

.recipe-page {
  :global {
    .recipe-copy__title h1 {
      color: $knorr-color-primary;
      padding-top: 1rem;
      @include respondTo(desktop) {
        padding-top: 1.6rem;
      }
    }
    .recipe-top-block {
      &-logo {
        svg {
          max-width: 5.5rem;
          @include respondTo(desktop) {
            max-width: 8rem;
          }
        }
      }
    }
  }
}
